{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["flowtype", "import"],
  "rules": {
    "indent": ["error", 2],
    "no-console": 1,
    "no-use-before-define": 1,
    "no-extra-parens": "off",
    "no-confusing-arrow": "off",
    "jsx-a11y/href-no-hash": "off",
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,
    "import/prefer-default-export": 0
  }
}
